{% extends "base.html" %}

{% block content %}
    <form >
  <div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{post.subject}}
    </div>

    <div class="post-date">
      {{post.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    details : {{post.content }}
  </div>
  <div class="post-content">
    we need {{post.number }} players
  </div>
</div>

<div class="players">
  <h1 >The {{x}} Players : </h1>
</div>
<div>
{% if members %}
{%for d in members%}
<li>{{d.name}}</li>
{%endfor%}
{% endif %}
</div>

<h3 style=" color: red ">registration has ended  </h3>


<div class="TABLE">
    <hr>
    <h1>THE  TABLE </h1>
</div>

</form>
<!-- The TaBle --> 
<table summary="Tournament Bracket" class="bracket">
<tr>
    {%for i in range(1,r+1)%}
    <th>Round{{i}}</th>

    {%endfor%}
    <th>The Winner</th>
</tr>

{%for i  in range(x)%}

<tr>
      
       <td><p>{{names[i]}} </p></td>
      {%for j in range(1,r+1)%}


          {%if (( i % (2**j)) == 0) %}
              <td rowspan="{{2**j}}"><p>

              {%for w in range (i,2**j +i) %}
               {% if(levels[w]>=j)%}
               {{names[w]}}
               
               {%endif%}
  
               {%endfor%}
              </p></td>
          {%endif%}



      {%endfor%}

</tr>

{%endfor%}

</table>
<hr>
  

<form method="post">
  <h2>Add a Result </h2>
  {%if user%}
  <select name = "result" >
   <option value="">None</option>
         <option value="win">win</option>
            <option value="lose">lose</option>
  </select>
  <input type="submit">
  {%endif%}

  {%if items%}
  <br>
  <br>
  <h2>Result list</h2>
  <ul>
  {%for item in items%}

      <li style="color:red"><h3>{{item.name }} says:  that he was {{item.item }} at {{item.created.strftime("%b %d, %Y")}} </h3>

      </li>
  {%endfor%}

  </ul>
  {%endif%}
  
</form>
{% endblock %}
